
nav a{
    color:  #d9ad7c;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}
h1{
    color:#674d3c ;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
h2{
    color: #d9ad7c ;
    font-size: 20px;
    
}

div {
    text-align: center;
}
p{
    font-size: 18px;
    color: #674d3c;
    font-weight: bold;
    text-align: center;
}
table,th,td{
    margin: auto;
    border: 3px solid saddlebrown;
    border-collapse: collapse;
    font-size: 20px;
    color: #d9ad7c;
    font-weight: bold;
}
table{
    width:60%

}
input{
    margin-left: 40px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-color:#d9ad7c;
   
}
div{
    text-align: start ;
}

div{
    text-align: center;
}
label{
    font-size: 18px;
    color: #674d3c;
    font-weight: bold;

}
button{
    border: #674d3c solid 2px;
    border-radius: 10px;
   font-size: 20px;
   font-style: italic;
   font-weight: bold;
   color: #d9ad7c;
}
*{
    background-color: #fff2df;
}
input type="password"{
    margin-left: 2px;
}
input[type="password"]{
    margin-left: 3px;
}
input[type="email"]{
    margin-left: 30px;
}
input[type="date"]{
    margin-left: 36px;
}
textarea{
    border: #674d3c solid 5px;
}
input[type="file"]{
    margin-left: 55px;
}
input.image{
    margin-left: 28px;
}